$primary-color: #130c0c;
$secondary-color: #ff652f;
$text-color: #fff;
$screen-color: #e6b3cc;
$social-icon-color: #000000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-xsm-portrait {
  @media only screen and (min-width: 320px) and (max-width: 359px) and (orientation: portrait) {
    @content;
  }
}

@mixin media-xsm-landscape {
  @media only screen and (min-width: 320px) and (orientation: landscape) {
    @content;
  }
}

@mixin media-sm-portrait {
  @media only screen and (min-width: 360px) and (max-width: 410px) and (orientation: portrait) {
    @content;
  }
}

@mixin media-sm-landscape {
  @media only screen and (min-width: 360px) and (orientation: landscape) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
