/*Query for min-width:320 and orientation portrait*/

@include media-xsm-portrait {
  .home {
    /*.ripple-background {
      .small {
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: -50px;
      }

      .medium {
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -100px;
      }

      .large {
        width: 300px;
        height: 300px;
        left: -150px;
        bottom: -150px;
      }

      .xlarge {
        width: 400px;
        height: 400px;
        left: -200px;
        bottom: -200px;
      }

      .xxlarge {
        width: 500px;
        height: 500px;
        left: -250px;
        bottom: -250px;
      }
    }*/
    &__photo {
      border-radius: 150px;
    }

    &__name {
      padding-top: 10px;
      font-size: 20px;
    }
    h2 {
      color: $primary-color;
      width: 100%;
    }
    .social-icons {
      font-size: 9px;
    }
  }
  .nav {
    .menu-nav {
      font-size: 12.5px;
      height: 15vh;
    }
  }
  .about {
    &__bio-image {
      height: 78vh;
    }
    &__bio {
      .text-secondary {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .jobs {
      width: 75vw;
      grid-gap: 0;

      &__job {
        .text-secondary {
          font-size: 15px;
        }
        h3 {
          font-size: 13px;
        }
        p {
          font-size: 10px;
          line-height: 1.1rem;
        }
      }
    }
    .social-icons {
      font-size: 10px;
      flex-direction: column;
      left: 0;
    }
    footer {
      transform: none;
      transform: rotate(90deg) translate(-3rem, -5rem);
    }
    bottom: 0;
  }
}

.projects {
  &__bio-image {
    height: 20vh;
  }
  .social-icons {
    font-size: 10px;
    left: 0.25rem;
  }
  &__items {
    grid-gap: 0.25rem;
    width: 75vw;
  }
}
.contact {
  height: 100vh;
  padding-top: 16vh;
  h2 {
    font-size: 2rem;
  }
  &__list {
    width: 80%;
    justify-content: center;
  }
  .social-icons {
    font-size: 10px;
    padding-left: 0;
  }
}

/* minimum width 320 and orientation - landscape*/

@include media-xsm-landscape {
  .nav {
    .menu-nav {
      height: 20vh;
    }
  }
  .home {
    &__name {
      margin-top: 1rem;
      font-size: 25px;
      padding-bottom: 0.4rem;
    }
    .social-icons {
      padding-top: 3.5rem;
      justify-content: center;
      position: relative;
      font-size: 0.75rem;
      padding-right: 3rem;
    }
    footer {
      position: relative;
      text-align: -webkit-match-parent;
    }
  }

  .about {
    &__bio {
      margin-top: 0;
      transform: translateY(10%);
      height: 97vh;
      &-image {
        height: 97vh;
      }
      .text-secondary {
        padding-top: 0;
        font-size: 1.5rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
    .jobs {
      width: 80%;
    }
    .social-icons {
      left: 0.4rem;
      color: white !important;
      font-size: 0.75rem;
    }
    footer {
      right: 1.5rem;
    }
  }

  .projects {
    &__bio-image {
      height: 30vh;
    }

    &__items {
      grid-gap: 0.1rem;
    }
  }
  .contact {
    overflow: visible;

    h2 {
      size: 0.5rem;
    }

    &__list {
      font-size: 1rem;
      grid-gap: 0.5rem;
    }
    .social-icons {
      padding-top: 0.5rem;
    }
  }
}

@include media-sm-portrait {
  .home {
    /*.ripple-background {
      .small {
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: -50px;
      }

      .medium {
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -100px;
      }

      .large {
        width: 300px;
        height: 300px;
        left: -150px;
        bottom: -150px;
      }

      .xlarge {
        width: 400px;
        height: 400px;
        left: -200px;
        bottom: -200px;
      }

      .xxlarge {
        width: 500px;
        height: 500px;
        left: -250px;
        bottom: -250px;
      }
    }*/
    &__photo {
      border-radius: 150px;
    }

    &__name {
      padding-top: 10px;
      font-size: 20px;
    }
    h2 {
      color: $primary-color;
      width: 100%;
    }
    .social-icons {
      font-size: 9px;
    }
  }

  .about {
    &__bio {
      &-image {
        height: 68vh;
      }

      .text-secondary {
        font-size: 2rem;
      }
    }
    .social-icons {
      font-size: 0.75rem;
      left: 0.25rem;
    }
    footer {
      padding-right: rem;
    }
    .jobs {
      width: 75vw;
      grid-gap: 0.25rem;
    }
  }

  .nav {
    .menu-nav {
      height: 15vh;
      font-size: 0.75rem;
    }
  }

  .projects {
    &__items {
      grid-gap: 0.23rem;
    }
    .social-icons {
      bottom: 15rem;
    }
    footer {
      bottom: 15rem;
    }
  }
}

@include media-sm-landscape {
  .about {
    .jobs {
      grid-gap: 0.23rem;
    }
  }
}

@include media-md-portrait {
  .nav {
    .menu-nav {
      height: 15vh;
    }
  }

  .home {
    padding-top: 30vh;

    &__name {
      font-size: 2.5rem;
    }
  }

  .about {
    &__bio {
      &-image {
        height: 60vh;

        p {
          line-height: 1.2rem;
        }
      }
      .text-secondary {
        font-size: 2.5rem;
      }
    }
    ul {
      line-height: 1.2rem;
    }

    .jobs {
      grid-gap: 0.25rem;
      width: 80vw;
    }

    .social-icons {
      left: 0;
      font-size: 0.8rem;
    }
  }
  .projects {
    &__bio-image {
      height: 15vh;
    }

    .social-icons {
      bottom: 5rem;
    }

    footer {
      bottom: 5rem;
    }
  }

  .contact {
    .social-icons {
      font-size: 12px;
    }
  }
}

@include media-md-landscape {
  .about {
    &__bio {
      .text-secondary {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1.25rem;
      }
      &-image {
        p {
          font-size: 1.15rem;
          line-height: 1.75rem;
        }
      }
    }
    ul {
      font-size: 1.15rem;
      line-height: 1.25rem;
    }

    .jobs {
      width: 85vw;
    }
  }

  .projects {
    &__items {
      grid-gap: 0.8rem;
    }
  }

  .contact {
    &__list {
      font-size: 1.25rem;
    }
  }
}

/*@include media-md {
  .home {
    /*  .ripple-background {
      .small {
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: -50px;
      }

      .medium {
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -100px;
      }

      .large {
        width: 300px;
        height: 300px;
        left: -150px;
        bottom: -150px;
      }

      .xlarge {
        width: 400px;
        height: 400px;
        left: -200px;
        bottom: -200px;
      }

      .xxlarge {
        width: 500px;
        height: 500px;
        left: -250px;
        bottom: -250px;
      }
    }*/
/* &__photo {
      border-radius: 150px;
    }

    &__name {
      padding-top: 10px;
      font-size: 20px;
    }
    h2 {
      color: $primary-color;
      width: 100%;
    }
    .social-icons {
      font-size: 9px;
    }
  }
  body {
    overflow-y: auto !important;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }
  .about {
    &__bio {
      height: 60vw;
      font-size: 1.2rem;
    }
    .jobs {
      width: 80%;
      grid-gap: 0;
    }
    footer {
      position: relative;
    }
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      margin: 2rem 4rem;
    }
    .social-icons {
      padding-left: 0;
    }
  }
}



@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      width: 85vw;
    }
    .social-icons {
      position: relative;
      flex-direction: row;
      justify-content: center;
      padding: 75px 0;
      font-size: 30px;
    }
  }

  .contact {
    .social-icons {
      font-size: 25px;
      padding-left: 0;
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 40px;
    }

    &__address {
      line-height: 30px;
    }
  }

  .about {
    &__bio-image {
      height: 35vh;
    }
    .jobs {
      width: 95vw;
    }
    .social-icons {
      position: relative;
      flex-direction: row;
      justify-content: center;
      padding-top: 85px;
      font-size: 25px;
    }
  }
}

@include media-xl {
  .about {
    &__bio-image {
      height: 95vh;
    }
  }
  .projects__bio-image {
    height: 35vh;
  }
}
*/
