@import "./config";
@import "./home";
@import "./menu";
@import "./about";
@import "./projects";
@import "./contacts";
@import "./responsive";

body {
  /*background: $primary-color;*/
  background: $screen-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}
a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  /*animation starts*/
  .ripple-background {
    .circle {
      position: absolute;
      border-radius: 50%;
      background: white;
      animation: ripple 15s infinite;
      box-shadow: 0px 0px 1px 0px #508fb9;
    }

    .small {
      width: 200px;
      height: 200px;
      left: -100px;
      bottom: -100px;
    }

    .medium {
      width: 400px;
      height: 400px;
      left: -200px;
      bottom: -200px;
    }

    .large {
      width: 600px;
      height: 600px;
      left: -300px;
      bottom: -300px;
    }

    .xlarge {
      width: 800px;
      height: 800px;
      left: -400px;
      bottom: -400px;
    }

    .xxlarge {
      width: 1000px;
      height: 1000px;
      left: -500px;
      bottom: -500px;
    }

    .shade1 {
      opacity: 0.2;
    }
    .shade2 {
      opacity: 0.5;
    }

    .shade3 {
      opacity: 0.7;
    }

    .shade4 {
      opacity: 0.8;
    }

    .shade5 {
      opacity: 0.9;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(0.8);
    }
  }

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color($primary-color);
}
